/* Aseguramos que el HTML y el body ocupen toda la altura disponible */
html, body {
    height: 100%;  /* Asegura que el cuerpo ocupe toda la altura de la pantalla */
    margin: 0;     /* Elimina márgenes predeterminados */
}

/* Usamos Flexbox para el layout */
body {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
}

/* Aseguramos que el contenido ocupe el espacio disponible */
.main-content {
    flex: 1;  /* Esto hace que el contenido ocupe todo el espacio disponible */
}

/* Estilo del footer */
.footer {
    background-color: #f8f9fa;  /* Fondo claro */
    padding: 20px 0;            /* Algo de relleno */
    text-align: center;         /* Centrado del texto */
    width: 100%;                /* El footer ocupa todo el ancho */
    margin-top: auto;           /* Esto asegura que el footer se empuje hacia el fondo */
}

/* Estilo de los enlaces del footer */
.footer a {
    color: #6c757d;
    text-decoration: none;
}

.footer a:hover {
    color: #495057;
}


.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo */
    z-index: 1; /* En frente */
    left: 0;
    top: 0;
    width: 100%; /* 100% ancho */
    height: 100%; /* 100% alto */
    overflow: auto; /* Habilitar el desplazamiento si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro con opacidad */
}

.modal-content {
    background-color: #fefefe;
    margin: 0; /* Centrar el modal */
    padding: 10px;
    border: 1px solid #888;
    width: 50%; /* Ancho del modal (ajustar según necesidad) */
    max-width: 600px; /* Ancho máximo del modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el modal */
    border-radius: 8px; /* Esquinas redondeadas */
    position: relative; /* Para que el contenido del modal se posicione dentro de él */
    top: 50%; /* Posicionar el contenido del modal */
    left: 25%;
    transform: translateY(-50%); /* Centrar verticalmente */
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
    font-size: 30px;
}
.close:hover{
    color: #c9302c;
    transition: 0.3s;
}
button {
    margin-top: 10px;
}
